
<div style="margin-top: 10vh;  margin-left: 10%;">

    <div *ngIf="bundle">
        <table>
            <tr>
                <td><h3>{{bundle.title}}</h3></td>
            </tr>
            <tr>
                <td>
                    by {{bundle.name}} on {{bundle.date}}
                </td>
            </tr>
            <tr *ngIf="bundle.comments">
                <td style="padding-top: 15px;">
                    <p>{{bundle.comments}}</p>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <button [routerLink]="['/']">Back</button>

</div>
